body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

ul.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}

/* Submenu Styles */
.has-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
}

.submenu li {
    margin: 10px 0;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    ul.nav-links {
        flex-direction: column;
        display: none; /* Hide the navigation links by default */
    }

    li {
        margin: 10px 0;
        display: block;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }
}
