body {
	background-color: #212121;
}

h1 {
	background-color: aquamarine;
	text-align: center;
}

h4 {
	color: aliceblue;
}

p {
	color: bisque;
}

span {
	color: bisque;
	font-weight: 700;
}

button {
	background-color: #266b28;
	color: white;
	padding: 6px 12px;
	margin-top: 10px;
	border: none;
	border-radius: 3px;
	font-size: 12px;
}

button:hover {
	background-color: darkred;
}

.input-field {
	color: white;
}

input {
	width: 150px;
	height: 25px;
	border-radius: 2px;
	border: none;
}

label {
	color: white;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
